* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.navigation {
    position: fixed;
    top: 40px;
    z-index: 999;
    width: 100%;
    height: 80px;
    padding: 15px;
}

.menù {
  line-height: 30px;
  vertical-align: middle;
}

.li-menù {
  display: inline;
  padding: 15px;
}


a {
  text-decoration: none;
  color: black;
}

div .img-logo {
  float: left;
  margin-right: 10px;
  padding-left: 15px;
}

.menù {
  width: 500px;
}
.clearfix {
  display: table;
  content: '';
  clear: both;
}

.left-menù {
  float: left;
}

.right-menù {
  float: right;
}

.button {
  width: 80px;
  height: 30px;
  background-color:#0061FF;
}  

#button {
  color: white;
}

.jumbotron {
  margin-top: 100px;
  width: 100%;
  padding: 100px 200px;
  background-color: #B4D0E7;

}

.title {
  font-size: 80px;
}

.left-column {
  width: 40%;
  float: left;
}

.desc {
  width: 60%;
  margin: 30px 0 40px 0;
  font-size: 20px;
}

.prova-gratuita {
  width: 200px;
  height: 25px;
  padding: 10px 15px;
  background-color: #0061FF;
  color: white;
}

.annulla-prova {
  margin-top: 30px;
}

.arrow {
  font-size: 40px;
  margin-top: 30px;
}

.right-column {
  width: 60%;
  float: left;
  margin-top: 30px;
}

.img-jumbotron {
  width: 70%;
}