* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  min-width: 600px;
  margin: 0 auto;
}

.navigation {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  background-color: white;
  width: 100%;
  line-height: 80px;
}


.li-menu {
  display: inline;
  margin: 15px;
}

a {
  text-decoration: none;
  color: black;
}
.a-menu {
  text-decoration: none;
  color: black;
  display: inline-block;
  line-height: 80px;
}

.a-menu:hover {
  border-bottom: 5px solid #0061FF;
}

.img-logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.logo {
  vertical-align: middle;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.left-menu {
  float: left;
}
.right-menu {
  float: right;
}

.button {
  height: 30px;
  width: 80px;
  background-color: #0061FF;
  padding: 3px 15px;
}

#button {
  color: white;
}

.jumbotron {
  margin-top: 85px;
  width: 100%;
  background-color: #B4D0E7;

}
.contained-jumbotron {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
.title {
  font-size: 70px;
}

.left-column {
  width: 40%;
  float: left;
}

.desc {
  width: 60%;
  margin: 30px 0 40px 0;
  font-size: 20px;
}

.button-blu {
  padding: 10px 15px;
  background-color: #0061FF;
  color: white;
  display: inline-block;
}

.annulla-prova {
  margin-top: 30px;
}

.arrow {
  font-size: 40px;
  margin-top: 30px;
}

.right-column {
  width: 60%;
  float: left;
  margin-top: 30px;
}

.contained-img {
  position: relative;
}

.img-jumbotron {
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  max-width: 900px; 
}

.piani-disponibili {
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}
.cerchio-blu {
  width: 20px;
  height: 20px;
  border: 5px solid #0061FF;
  border-radius: 50%;
  display:inline-block;
  line-height: 20px;
  vertical-align: middle;
}

.fatturazione {
  line-height: 20px;
  vertical-align: middle;
}

.cerchio-grigio {
      width: 20px;
      height: 20px;
      border: 2px solid grey;
      border-radius: 50%;
      display:inline-block;
      line-height: 20px;
      vertical-align: middle;
      margin-left: 10px;
}

.title-2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.left-column-main, 
.centre-column-main,
.right-column-main {
  width: calc(100% / 3 - 20px);
}

.left-column-main {
  border: 1px solid grey;
  float: left;
  margin: 30px 0;
}

#hidden {
  visibility: hidden;
}

.centre-column-main {
  border: 1px solid grey;
  float: left;
  margin: 30px 30px 0 30px;
}

.right-column-main {
  border: 1px solid grey;
  float: left;
  margin-top: 30px;
}

.contained-left-column-main {
  width: 100%;
  padding: 20px;
}

.contained-centre-column-main {
  width: 100%;
  padding: 20px;
}

.contained-right-column-main {
  width: 100%;
  padding: 20px;
}

.profilo {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 10px;
}

.titolo-profilo {
  font-size: 30px;
  font-weight: 700;
  padding-bottom:10px;
}

.costo {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}

.mensile {
  font-size: 15px;
  font-weight: 400;
  color: grey;
  padding-bottom: 10px;
}

.utente {
  padding-bottom: 5px;
}

.memoria {
  padding-bottom: 5px;
}

.icona {
  float: left;
  width: 5%;
}

.funzioni {
  float: left;
  width: 95%;
  padding-bottom: 30px;
}

#gratis-30-giorni {
 text-align: center;
}

.seconda-scelta {
  color: grey;
  margin: 30px 0 15px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid grey;
  display: inline-block;
}
.acquista {
  text-decoration: underline;
  color: #0061FF;
}

.ul-dettagli-piano {
  padding-bottom: 30px;
  list-style-type: none;
}

.fa-check {
  color: #0061FF;
}

.riassunto-piano {
  padding: 20px 0 10px 0;
}

.row-main {
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 60px;
}

.contained-row {
  width: 100%;
  padding: 20px;
}

.row-title {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 10px;
}

.soluzioni {
   font-size: 15px;
   font-weight: 400;
   color: black;
   padding-bottom: 20px;
}

.titolo-profilo-row {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  padding-bottom:10px;
}

#contattavenditore {
  padding: 10px 15px;
  background-color: #0061FF;
  color: white;
}

.costo-row {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-top: 20px;
}

.left-column-row {
  width: 85%;
  float: left;
}

.partner {
  margin-bottom: 80px;
}

.right-column-row {
  float: left;
  width: 15%;
}

.left-column-partner {
  width: 50%;
  float: left;
}

.img-partner {
  width: 100%;
}

.title-partner {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  padding-bottom:10px;
}

.right-column-partner {
  width: 50%;
  float: left;
  padding: 20px;
}

.text-partner {
  margin-bottom: 30px;
}

#button-white {
  background-color: white;
  color: black;
  border: 2px solid grey;
}

.container-column-business {
  margin-bottom: 100px;
}

.column-business {
  float: left;
  width: calc(100% / 3 - 20px);
}

.img-business {
  width: 100%;
}

.title-business {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  padding-bottom:10px;
}

.underline {
  text-decoration: underline;
}

.centre {
  margin: 0 30px;
}

.title-aziende {
  margin-bottom: 100px;
}
.add-info-clienti {
  text-decoration: underline;
  color: #0061FF;
}

.container-column-aziende {
  background-color:#F5F5F5;
}

.column-loghi-aziende {
  width: 15%;
  float: left;
}

.bg-aziende {
  padding-bottom: 100%;
  position: relative;
}

.green {
  background-color: #A2D39B;
}

.blue {
  background-color: #0093CE;
}

.brown {
  background-color: #61082B;
}

.light-red {
  background-color: #FF1C1C;
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  filter: invert(1);
}

.column-loghi-aziende-grande {
  width: 40%;
  float: left;
  padding: 3em 3em 0 3em;

}

.grandi-aziende-container img {
  width: 20%;
  display: inline-block;
}

.grandi-aziende-container {
  position: relative;
  overflow-y: scroll;
  padding-bottom: 57%;
}

.grandi-aziende-container .text-designit::before {
  content: '';
  width: 10%;
  height: 1px;
  display: inline-block;
  margin: 20px 0;
  background-color:lightgrey;
}

.text-designit {
  position: absolute;
}

#svg-nera {
  fill: black;
  border-bottom: 2px solid grey;
  width: 20%;
}

.desc-designit {
  margin-top: 20px;
}

.red {
  background-color: #D5001F;
}

.dark-blue {
  background-color: #0D2481;
}

.light-blue {
   background-color: #B4D0E7;
}

.yellow {
  background-color: #FFD830;
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 200px 0;
}
.bg-blu {
  background-color: #B4D0E7;
  width: 100%;
}


.left-column-utilizzatori {
  width: 60%;
  float: left;
}

.right-column-utilizzatori {
  width: 40%;
  float: left;
}

#color-brown {
  color: #61082B;
  margin: 0;
}

#bg-white {
  background-color: white;
  color: black;
  display: inline-block;
  float: right;
}

.container-faq {
  width: 70%;
  margin: 200px auto;

}

#faq {
  margin-bottom: 50px;
}

.li-faq {
  list-style-type: none;
  padding: 30px 0;
  border-top: 1px solid lightgray;
}

#border-bottom {
  border-bottom: 1px solid lightgray;
}

.fa-chevron-down {
  float: right;
  padding-right: 3%;
}

footer {
  width: 100%;
  background-color: black;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
  padding: 200px 0;
}

.column-footer {
  width: calc(100% / 5);
  float: left;
  margin-bottom: 100px;
}

.title-footer {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

.li-footer {
  list-style-type: none;  
  padding: 5px 0;
}

.link-footer {
  color: white;
}

.row-white {
  width: 7%;
  border: 1px solid white;
  margin-bottom: 40px;
}

.fa-globe-americas,
.italiano,
.fa-sort-up {
  color: white;
}

.fa-sort-up {
  vertical-align: bottom;
}

